body {
  font-family: 'Roboto', sans-serif !important;
  background: #23272e;;
}

main {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: none;
  height: auto;
  width: 100%;
}
.navbar__image {
  width: 40px;
  margin-bottom: 40px;
}

.list__item {
  font-size: 12px;
  color: #878f9b;
  font-weight: bold;
  margin: 10px 0;
}

.list__sub-item {
  font-size: 16px;
  color: black;
  margin: 20px 0;
}

.menu {
  display: block;
  background: #f4f6f9;
  height: auto;
  width: 20%;
  padding: 20px 20px 0 35px;
  min-height: 100vh;
}

.text {
  width: 80%;
}

.content {
  padding: 20px;
  display: block;
  height: auto;
  background: #ffffff;
  min-height: 100vh;
}

.content__subtitle {
  font-size: 16px;
  color: #878f9b;
  font-weight: bold;
  margin: 20px 0;
}

.content__title {
  font-size: 32px;
  font-weight: bold;
  padding: 15px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #8080804d;
}

.content__text {
  margin-bottom: 20px;
  color: #9fa5af;
  font-size: 16px;
  line-height: 22px;
}

.content__sub-title {
  font-size: 16px;
  line-height: 22px;
  color: black;
  font-weight: bolder;
}